select { font-family: Verdana,taipei,Arial; font-style: normal; font-size: 12px}
checkbox { font-family: Verdana,taipei,Arial; font-style: normal; font-size: 12px}
option { font-family: Verdana,taipei,Arial; font-style: normal; font-size: 12px}
input { font-family: Verdana,taipei,Arial;  font-style: normal; font-size: 12px;}
textarea { font-family: Verdana,taipei,Arial; font-style: normal; font-size: 12px;}
td,th { font-family: Verdana,taipei,Arial; font-style: normal; font-size: 12px;}
